---
---

@import "{{ site.theme }}";
body {
  color: #030303;
}
form {
  background: none;
}
#post_list h1 {
  font-weight: 600;
}
p {
  margin-top: 20px;
}
h1 {
  margin: 20px 0;
}
ul li {
  list-style: none;
}
.app-link {
  text-decoration: none;
  color: black;
  font-weight: 300;
}
.app-description {
  padding-left: 20px;
}
.post-content a {
  text-decoration: underline;
}
.post-content {
  ul {
    margin-left: 20px;
  }
  ul li {
    list-style: square;
  }
}

.inner { width: 80%; margin: 0 auto; }
